# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.env
.venv
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Dataset (very important for image projects)
*.zip
*.png
*.jpg
*.jpeg
data/
traffic_signs_data/

# Model files
*.h5
*.keras
*.pb
models/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
